body,html{
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.navbar{
  margin-bottom: 0px;
}
.navbar-nav{
  width: 100%;
  text-align: center;
}
.navbar-nav>li{
  float: none;
  display: inline-block;
}

ul.nav a{
  color: white;
  text-transform: uppercase;
  padding-bottom: 0.5em;
  border-bottom: 2px solid transparent;

}
ul.nav a:hover{
  background-color: transparent;
  border-bottom: 2px solid white;
}

ul.nav a:focus{
  background-color: transparent;
}

.banner{
  background-image: url('../images/ramsay-banner2.jpg');
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-text{
  color: white;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 25%;
}

.banner-text>h1{
  font-weight: bolder;
  font-size: 5em;
  /* TODO: change the font */
  font-family: '', sans-serif;
}

.about, .recipes, .tv, .contact{
  text-align: center;
  margin: 4em 0;
}

h2.div-head{
  text-transform: uppercase;
  border-bottom: 4px solid #F03B3B;
  border-radius: 2px;
  padding: 0 10px 0 10px;
  display: inline-block;
  font-weight: bolder;
  margin: 1.5em 0;
}

p.dev-text{
  font-size: 1.5em;
  margin-bottom: 2em;
}
.about>a, .about>a:focus{
  text-transform: uppercase;
  text-decoration: none;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 5px;
}

.about>a:hover{
  text-transform: uppercase;
  text-decoration: none;
  background-color: grey;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}


.recipe-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-bottom: 16px
}

.recipe-content>h1{
  font-size: 2.5em;
  text-transform: capitalize;
}
.recipe-card>img{
  width: 100%;
}
.recipe-content{
  padding: 0 16px;
}

button{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin: 16px 0 16px 0;
  transition: all 0.2s;
}
button:hover {
    opacity: 0.7;
}

.contact{
  background-image: url('../images/pasta.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact>h2{
  color: white;
  border-color: white;
}

.my-form{
  text-align: left;
  color: white;
  font-size: 1.3em;
}
.my-form>p{
  margin-bottom: 0;
}
.my-form>input, textarea{
  width: 100%;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 2px solid white;
  margin-bottom: 16px;
}

.my-form>input:focus, textarea:focus{
  width: 100%;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 2px solid white;
  margin-bottom: 16px;
  outline-color: transparent;
}
.my-form button{
  width: auto;
  float: right;
  text-transform: uppercase;
  background-color: white;
  color: black;
  font-weight: bolder;
  border: 2px solid white;
  padding: 12px 24px 12px 24px;
  transition: all 0.5s;
}

.my-form button:hover{
  background-color: transparent;
  color: white;
  border: 2px solid white;
  opacity: 1;
}

footer{
  padding: 1rem;
  color: white;
  background-color: #000;
  text-align: center;
  margin-top: 50px;

}
